<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'exam/new.css' %}">
    <title>Make a New Wish</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <h2>Hello {{users_info.first_name}}! Make a wish!</h2>
            <a href="/wishes/logout">Log Out</a>
        </div>
        <div class="container">
            {% if messages %}
                <ul>    
                    {% for message in messages %}    
                        <li>{{ message }}</li>    
                    {% endfor %}
                </ul>
            {% endif %}
            <form action="/wishes/create" method="POST">
                {% csrf_token %}
            <div class="row">
                <div class="col">
                    <label for="title" id="title">I wish for:</label>
                    <input type="text" id="title" name="title">
                </div>
                <div class="col">
                    <label for="description" id="description">Description:</label>
                    <textarea name="description" id="description" cols="30" rows="3"></textarea>
                </div>
                <div class="col">
                    <button class="btn btn-outline-dark">Submit</button>
                </div>
            </form>
                <a href="/wishes/home">Cancel</a>
            </div>
        </div>
    </div>
</body>
</html>